@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-950 text-slate-200;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #020617;
}

::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #06b6d4;
}

@layer utilities {
  .text-gradient {
    @apply bg-clip-text text-transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}